<!DOCTYPE html>
<html>

<head>
  <title>Moisture Sensor Triggered Email</title>
</head>

<body>
  <div>
    <h4>The {{ location }} moisture sensor has been triggered at Postwick!</h4>
  </div>
</body>

</html>