<!DOCTYPE html>
<html>

<head>
  <title>New User</title>
</head>

<body>
  <p>Hello {{ firstName }}</p>
  <p>You now have access to the Postwick BMS web portal. Please sign in using the credentials below.</p>
  <table>
    <tr>
      <th>Url</th>
      <td>
        <a href="https://postwick.heathwood.org.uk">https://postwick.heathwood.org.uk</a>
      </td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ email }}</td>
    </tr>
    <tr>
      <th>Password</th>
      <td>{{ password }}</td>
    </tr>
  </table>
</body>

</html>